/* ---------- NAV ---------- */

nav {
    position: fixed;
    left: 1.5em;
    bottom: 1em;
}

.nav-container {
    position: relative;
}

/* --- nav: list --- */

.nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    display: block;
}

.nav-link-text {
    background-color: var(--bg);
    color: var(--ink);
}

.nav-link-closer {
    color: var(--bg);
    padding-left: 1ch;
}

.nav-link:hover .nav-link-text {
    color: var(--bg);
    background-color: var(--ink);
}

.nav-link:focus-visible {
    outline: 2px solid transparent;
}

.nav-link:focus-visible span {
    color: var(--bg);
    background-color: var(--ink);
}

/* --- nav: terminal --- */

.nav-input-container {
    display: flex;
    align-items: baseline;
    gap: 1ch;
}

.nav-prompt {
    color: var(--accent);
}

.nav-input {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    caret-color: transparent;
}

.nav-input:focus-visible {
    outline: none;
}

.nav-search-overlay-container {
    display: flex;
    align-items: baseline;
    gap: 1ch;
    position: absolute;
    inset-block-end: 0;
    pointer-events: none;
}

.nav-overlay-text {
    color: var(--muted);
    margin: 0;
    white-space: pre;
}

.nav-before-cursor {
    color: transparent;
}

@keyframes cursor-blink {
    60% {
        background-color: var(--bg);
        color: var(--muted);
    }
}

.nav-text-cursor {
    background-color: var(--bg);
    color: var(--muted);
}

.nav-container:has(.nav-input:focus) .nav-text-cursor {
    background-color: var(--ink);
    color: var(--bg);
    animation: cursor-blink 1.5s step-end infinite;
}

@media (prefers-reduced-motion: reduce) {
    .nav-container:has(.nav-input:focus) .nav-text-cursor {
        animation: none;
    }
}

/* ---------- STATE ---------- */

.nav-container:has(.nav-input:focus) .is-selected .nav-link-text {
    background-color: var(--ink);
    color: var(--bg);
}